<form action="/create_result_from_race" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="race_id" value="<%= @race.id %>">

  <div class="form-group">
    <label for="time">
      Time
    </label>

    <input type="text" id="time" name="time" class="form-control" value="<%= @result.time %>">
  </div>

  <div class="form-group">
    <label for="overall_place_id">
      Overall place
    </label>

    <input type="text" id="overall_place_id" name="overall_place_id" class="form-control" value="<%= @result.overall_place_id %>">
  </div>

  <div class="form-group">
    <label for="age_group_place_id">
      Age group place
    </label>

    <input type="text" id="age_group_place_id" name="age_group_place_id" class="form-control" value="<%= @result.age_group_place_id %>">
  </div>

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control" value="<%= @result.body %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create result
  </button>
</form>
