<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Result #<%= @result.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/results" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @result.user %>
          <a href="/results/<%= @result.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit result
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @result.user %>
          <a href="/delete_result/<%= @result.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete result
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @result.user.present? %>
          <a href="/users/<%= @result.user_id %>">
            <%= @result.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Race
      </dt>
      <dd>
        <% if @result.race.present? %>
          <a href="/races/<%= @result.race_id %>">
            <%= @result.race.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Time
      </dt>
      <dd>
        <%= @result.time %>
      </dd>

      <dt>
        Overall place
      </dt>
      <dd>
        <%= @result.overall_place_id %>
      </dd>

      <dt>
        Age group place
      </dt>
      <dd>
        <%= @result.age_group_place_id %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @result.body %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@result.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@result.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "result_templates/result_comments" %>
  </div>
</div>
